<div class="section">
  <div class="col-md-4 col-sm-12">
    <button 
      mat-raised-button 
      (click)="createCompany()" 
      *ngIf="!creatingCompany" 
      class="col-12" 
      color="primary"
      >Agregar Empresa
    </button>

    <div *ngIf="!creatingCompany">
      <mat-card *ngFor="let company of companies" class="my-3">
        <mat-card-header>
          <mat-card-title>{{ company.name }}</mat-card-title>
          <mat-card-subtitle>Rut: {{ company.rut }}</mat-card-subtitle>
          <mat-card-subtitle>Dirección: {{ company.address }}</mat-card-subtitle>
          <mat-card-subtitle>Teléfono: {{ company.phone }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>



  <div class="col-md-4 col-sm-12" *ngIf="creatingCompany">
    <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput #name value="" formControlName="name">
          <mat-error *ngIf="f.name.hasError('required')">
            El nombre es requerido
          </mat-error>
          <mat-error *ngIf="name.value.length >= 200">
            El máximo son 200 caracteres
          </mat-error>
          <mat-error *ngIf="name.value.length < 6 && name.value.length > 0">
            El mínimo son 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Rut (sin puntos ni guión)</mat-label>
            <input matInput #rut value="" formControlName="rut">
            <mat-error *ngIf="f.rut.hasError('required')">
              El rut es requerido
            </mat-error>
            <mat-error *ngIf="f.rut.hasError('patt')">
              El registro debe cumplir formato Rut
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Dirección</mat-label>
            <input matInput #address value="" formControlName="address">
            <mat-error *ngIf="f.address.hasError('required')">
              El nombre es requerido
            </mat-error>
            <mat-error *ngIf="address.value.length >= 200">
              El máximo son 200 caracteres
            </mat-error>
            <mat-error *ngIf="address.value.length < 6 && name.value.length > 0">
              El mínimo son 6 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <span matPrefix>+56 &nbsp;</span>
            <input matInput #telephone value="" formControlName="telephone">
            <mat-error *ngIf="f.telephone.hasError('required')">
              El teléfono es requerido
            </mat-error>
            <mat-error *ngIf="telephone.value.length > 0 && rut.value.length != 9">
              Debe ingresar 9 números
            </mat-error>
          </mat-form-field>
        </div>

        <button 
        mat-raised-button 
        (click)="closeCompany()" 
        *ngIf="creatingCompany" 
        class="col-12 mt-5"
        >Volver
      </button>
    
      <button 
        mat-raised-button 
        *ngIf="creatingCompany" 
        class="col-12 my-3" 
        color="primary"
        type="submit"
        >Guardar
      </button>
    </form>
  </div>
</div>

