<p>
   <mat-toolbar>
     <span 
      routerLink="/" 
      class="col-9"
      >Simpli
     </span>

      <div class="col-3 d-flex justify-content-end">
        <div class="example-button-row">
          <button 
            routerLink="/companies" 
            mat-raised-button
            >Mis Empresas
          </button>

          <button 
            routerLink="/employees" 
            class="ms-3" 
            mat-raised-button color="primary"
            >Mis Empleados
          </button>
          
        </div>
      </div>
   </mat-toolbar>
 </p>
