<div class="section">
  <div>
    <mat-form-field 
      appearance="fill" 
      class="col-md-4 col-sm-12 col-12 m-auto" 
      *ngIf="!creatingEmployee"
    >
      <mat-label>Empresas</mat-label>
      <mat-select 
        (selectionChange)="getEmployees($event.value)"
      >
        <mat-option 
          *ngFor="let company of companies" 
          [value]="company.id"
        >{{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
      
  <div class="col-md-4 col-sm-12">
    <button 
      (click)="createEmployee()" 
      *ngIf="!creatingEmployee && permitCreate" 
      class="col-12" 
      color="primary" 
      mat-raised-button
      >Agregar Empleado
    </button>
    
    <form [formGroup]="employeeForm" *ngIf="creatingEmployee" (ngSubmit)="saveEmployee()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Completo</mat-label>
          <input matInput #fullname value="" formControlName="fullname">
          <mat-error *ngIf="f.fullname.hasError('required')">
            El nombre completo es requerido
          </mat-error>
          <mat-error *ngIf="fullname.value.length >= 200">
            El máximo son 200 caracteres
          </mat-error>
          <mat-error *ngIf="fullname.value.length < 6 && fullname.value.length > 0">
            El mínimo son 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>
        <div class="mt-3">
          <mat-form-field class="example-full-width">
            <mat-label>Rut (sin puntos ni guión)</mat-label>
            <input matInput #rutEmployee value="" formControlName="rutEmployee">
            <mat-error *ngIf="f.rutEmployee.hasError('required')">
              El rut es requerido
            </mat-error>
            <mat-error *ngIf="f.rutEmployee.hasError('pattern')">
              No cumple formato RUT
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-3">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput #email value="" formControlName="email">
            <mat-error *ngIf="f.email.hasError('required')">
              El email es requerido
            </mat-error>
            <mat-error *ngIf="f.email.hasError('email')">
              El registro no cumple con el formato "email"
            </mat-error>
          </mat-form-field>
        </div>

        <button 
        mat-raised-button 
        (click)="closeCreatingE(true)" 
        *ngIf="creatingEmployee" 
        class="col-12 mt-5"
        >Volver
      </button>
      
      <button 
        mat-raised-button 
        *ngIf="creatingEmployee" 
        class="col-12 my-3" 
        color="primary"
        type="submit"
        >Guardar
      </button>
    </form>
  </div>
  
  <div class="text-start" *ngIf="!creatingEmployee">
    <mat-card *ngFor="let employee of employees" class="my-3 col-md-4 col-sm-12">
      <mat-card-header>
        <mat-card-title>{{ employee.fullname }}</mat-card-title>
        <mat-card-subtitle>Rut: {{ employee.rutEmployee }}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{ employee.email }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>



